<div class="d-flex flex-row align-content-stretch py-0 px-2 mb-2 border-bottom border-green-1">
    <div class="col-sm-6 col-md-7 text-left border-right border-green-1">
        <div  *ngFor="let item of dataObj.forecast.forecastday">
            <div class="row" *ngIf="item.date !== todayDate">
                <div class="col-5 col-md-6 mb-1">{{item.date | date: 'EEEE'}}</div>
                <div class="col-2 col-md-2 mb-2">
                    <img class="" src="{{item.day.condition.icon}}" style="width: 25px; height: 25px;"/>
                </div>
                <div class="col-2 col-md-2 text-right p-0">{{item.day.maxtempC | number:'1.0-0'}}</div>
                <div class="col-1 col-md-2 text-left text-green-1 font-weight-bold">{{item.day.mintempC | number:'1.0-0'}}</div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-6 col-md-5 text-left">
        <div class="mx-auto mb-2" style="max-width: 200px;">
            Sunrise: {{dataObj.forecast.forecastday[0].astro.sunrise && dataObj.forecast.forecastday[0].astro.sunrise || '-'}}
        </div>
        <div class="mx-auto mb-2" style="max-width: 200px;">
            Sunset: {{dataObj.forecast.forecastday[0].astro.sunset && dataObj.forecast.forecastday[0].astro.sunset || '-'}}
        </div>
        <div class="mx-auto mb-2" style="max-width: 200px;">
            Feels Like: {{dataObj.current.feelslikeC && dataObj.current.feelslikeC  || '-'}} &#176;C
        </div>
        <div class="mx-auto mb-2" style="max-width: 200px;">
            Humidity: {{dataObj.current.humidity && dataObj.current.humidity + '%' || '-'}}
        </div>
        <div class="mx-auto mb-2" style="max-width: 200px;">
            Wind: {{dataObj.current.windKph && dataObj.current.windDir + ' ' + dataObj.current.windKph + " kmph" || '-'}}
        </div>
    </div>
</div>