<div class="py-0 px-2">
    <div class="row text-center">
        <div class="col-5 pr-0 text-left">
            <img src="../../../assets/images/footerLogo1.jpg" style="width: 30px; height: 30px;"/>
        </div>
        <div class="col-2">
            <img src="../../../assets/images/footer3.jpg" style="width: 50px; height: 40px;"/>
        </div>
        <div class="col-5 d-flex flex-row-reverse py-0">
            <div (click)="menuToggle()" class="menu_button">
                <img src="../../../assets/images/menu.png" style="width: 35px; height: 25px;"/>
            </div>
            <div class="pr-2">
                <div class="border-right border-green-1 pr-2 text-nowrap" style="font-size: 9px; color: rgb(113, 192, 216);">Weather App for iPad Concept Design.</div>
                <div class="border-right border-green-1 pr-2 text-nowrap" style="font-size: 10px;  color: rgb(113, 192, 216);">NIMESH DEVKOTA, 2020. (MESHart.ca)</div>
            </div>
        </div>
    </div>
</div>