<div class="pt-2 px-2 ">
    <div class="row text-center">
        
        <!-- Weather Channel ICON -->
        <div class="col-5 pr-0 text-left">
            <a href="https://weather.com/en-IN/weather/hourbyhour/l/210fd75d2390dda9d571b110ec978df37e33bd6719cc7a7d284a4ce83c140e4c">
                <img src="../../../assets/images/footerLogo1.jpg" class="weather-channel"/>
            </a>
        </div>

        <!-- Pangination ICONs -->
        <div class="col-2 py-0">
            <button class="pagination-button">
                <img src="../../../assets/images/gps.png" class="pagination "/>
            </button>
            <button class="pagination-button">
                <img src="../../../assets/images/white-circle.png" class="pagination size2 "/>
            </button>
        </div>

        <!-- Side Pane Toggle button and Credit Information -->
        <div class="col-5 d-flex flex-row-reverse py-0">
            <div (click)="menuToggle()" class="menu-button">
                <img src="../../../assets/images/menu.png" class="menu-icon"/>
            </div>
            <div class="pr-2">
                <div class="border-right border-green-1 pr-2 text-nowrap text-right" style="font-size: 9px; color: rgb(113, 192, 216);">Weather App for iPad.</div>
                <div class="border-right border-green-1 pr-2 text-nowrap text-right" style="font-size: 10px;  color: rgb(113, 192, 216);">MINDFIRE TEAM, 2022. (www.mindfire.com)</div>
            </div>
        </div>
    </div>
</div>