.weather-channel {
    width: 30px; 
    height: 30px;
    opacity: 0.8;
    &:hover {
        filter: brightness(120%);
    }
}

.menu-button {
    cursor: pointer;
}
.menu-icon {
    width: 35px; 
    height: 25px;
    &:hover {
        filter: brightness(150%);
    }
}
.pagination { 
    width: 10px; 
    height: 12px;
    opacity: 0.4; 
    &:hover {
        opacity: 1;
    }
}

.size {
    width: 8px; 
    height: 8px;
    margin-bottom: 2px;
}
.pagination-button {
    background: none; 
    border: none;
}
@media  (max-width: 414px) {
        .credit-message {
        display: none;
    }
}