<div class="main-page text-white w-full min-vh-100 ">
    <div class="d-flex flex-column col-12 w-full min-vh-100">

        <app-header [weatherData]="weatherData" class="header-container "></app-header>
        <app-hourly [weatherData]="weatherData" class="hourly-container "></app-hourly>
        <app-weekly [weatherData]="weatherData" class="weekly-container "></app-weekly>
        <app-graphs [weatherData]="weatherData" class="graphs-container"></app-graphs>
        <app-footer (menuToggleValue)="menuToggle($event)" class="mb-4 mt-auto"></app-footer>
            
        <ng-container *ngIf="toggleValue">
            <app-right-pane class="side-pane" 
                [locationList]="locationList" 
                (toggleValue)="menuToggle($event)" 
                [errorResponse]="errorResponse" 
                (outputFormData)="addLocation($event)" 
                (locationName)="onClickLocationList($event)" 
                (locationIdToDelete)="deleteLocation($event)">
            </app-right-pane>
        </ng-container>

    </div>
</div>
