<!-- <div>{{title}}</div>
<div>{{nameChange}}, {{emailChange}}, {{phoneChange}}</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <input type="text" name="name"  formControlName="name"> <br>
    <input type="text" name="email" formControlName="email"> <br>
    <input type="text" name="phone" formControlName="phone"> <br>

    <button type="submit">submit</button>
</form>
<a [routerLink]="['/ngrx']" routerLinkActive="router-link-active">go to ngrx example page</a> -->
<router-outlet></router-outlet>