<div class="py-0 px-2 pt-3 d-flex flex-row align-content-stretch">
    <div class="col-6 text-start mb-3">
        <div class="font-weight-normal" style="font-size: 48px;">{{dataObj.location.name}}</div>
        <div>Sunny</div>
        <div class="text-nowrap">H:{{dataObj.forecast.forecastday[0].day.maxtemp_c}}&#176; L:{{dataObj.forecast.forecastday[0].day.mintemp_c}}&#176;</div>
        <div><strong>{{dataObj.forecast.forecastday[0].date | date:'EEEE'}}</strong> Today</div> 
    </div>
    <div class="col-6 text-right font-weight-light" >
        <span style="font-size: 100px;">{{dataObj.current.temp_c}}&#176;</span>
    </div>
</div>